<launch>
<!--env name="ROSCONSOLE_CONFIG_FILE" 
       value="$(find spinner_description)/rosconsole.config"/-->
<!-- Convert an xacro and put on parameter server-->
<param name="robot_description" command="$(find xacro)/xacro.py $(find spinner_description)/urdf/spinner2.urdf.xacro" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find spinner_description)/control/spinner2_config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/spinner2" args="joint_state_controller"/>
    <!--output="screen" ns="/spinner2" args="azimuth elevation blue red green yellow white purple turquoise joint_state_controller"/-->

  <!-- convert joint states to TF transforms for rviz, etc-->
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/spinner2/joint_states" />
  </node-->

</launch>
