<?xml version="1.0"?>

<model>
  <name>spinner2</name>
  <version>1.0</version>
  <!--sdf version="1.5">model.sdf</sdf-->
  <sdf>urdf/spinner2.urdf</sdf>

  <author>
    <name>Phil Bolenbaugh</name>
    <email>philbevv@yahoo.com</email>
  </author>

  <description>
    SRC 2016 messing around for qualification test 1
  </description>
</model>
